@mixin flex-column{
    display: flex;
    flex-direction: column;
  }

  @mixin columnRow($row-gap){
    display: flex;
    flex-direction: column;
    row-gap: $row-gap;
  }
  @mixin flex-center{
    align-items: center;
    justify-content: center;
  }