@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
//font-family
$font1:'Anton', sans-serif;

//color
$black:#000000;
$navy:#051C3B;
$darkblue:#1E3D5A;
$lightblue:#80A4BE;
$gray:#E5EFEE;
//screen
$mobileScreen:300px;
$tabletScreen:700px;
$desktopScreen:1000px;